* {
  box-sizing: border-box;
}

/* Style the search field */
form.searchBox input[type=text]{
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background: #f1f1f1;
}

/* Style the button */
form.searchBox button {
  float:left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
/* Style the dropdown list */
form.searchBox select{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  float: left;
  padding: 10px;
  background: #2196F3;
  color:white;
  font-size: 17px;
  border: 1px solid grey;
  border-left:none;
  cursor: pointer;


}
form.searchBox button:hover{
  background: #0b7dda;
}

/* Clear float */
form.searchBox::after{
  content:"";
  clear: both;
  display: table;
}
